@import "tailwindcss";

@theme {
  --color-background: #fafafa;
  --color-text: #212121;
  --color-link: #795548;
  --color-link-hover: #ff5722;
  --color-decor: #6d4c41;
  --font-serif: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #212121;
    --color-text: #eeeeee;
    --color-link: #bcaaa4;
    --color-link-hover: #ffab91;
  }
}

body {
  @apply m-0 min-h-screen grid place-content-center border-b-[0.5em] border-decor bg-background font-serif text-[1.75rem] font-normal text-text;
}
