@import "tailwindcss";

@theme {
  /* https://huemint.com/website-2/ */
  --color-base-100: light-dark(#fcfcfd, #3f534e);
  --color-base-200: light-dark(#f5f6f7, #334743);
  --color-base-300: light-dark(#f9fafb, #233935);
  --color-base-400: light-dark(#fdfeff, #163731);
  --color-base-500: light-dark(#dbdcdd, #1b2e2a);
  --color-base-600: light-dark(#747475, #1a2422);
  --color-base-content: light-dark(#242320, #e4e3e2);
  --color-primary: light-dark(#1b815b, #dd3736);
  --color-primary-content: light-dark(#fdfeff, #1f3631);
  --color-secondary: light-dark(#cb3447, #86ad3d);
  --color-secondary-content: light-dark(#fdfeff, #1f3631);

  --font-*: initial;
  --font-base: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
}

:root {
  color-scheme: light dark;
}

body {
  @apply bg-base-400 text-base-content font-base m-0 min-h-screen text-[1.75rem] font-normal;
}
