---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Marek Kaput</title>
    <meta name="description" content="Marek Kaput Personal Website" />

    <link rel="canonical" href="https://murek.dev/" />
    <meta property="og:title" content="Marek Kaput" />
    <meta property="og:description" content="Marek Kaput Personal Website" />
    <meta property="og:url" content="https://murek.dev/" />
    <meta
      property="og:image"
      content="https://www.gravatar.com/avatar/28368724d65db3b992c4a2f44c7b4bae71f72c6b03f35c921a4d96846f768ebd?s=1200"
    />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Marek" />
    <meta property="profile:last_name" content="Kaput" />
    <meta property="profile:username" content="mkaput" />
    <meta property="profile:gender" content="male" />

    <link rel="icon" type="image/png" sizes="16x16" href="favicon16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon32.png" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <meta name="theme-color" content="#6d4c41" />

    <script
      data-goatcounter="https://stats.murek.dev/count"
      async
      src="./count.js"></script>
  </head>
  <body
    class="bg-background text-text border-b-decor dark:bg-background-dark dark:text-text-dark grid h-full place-content-center border-b-[0.5em] font-serif text-[175%] font-normal"
  >
    <main class="grid gap-y-8">
      <header class="text-center">
        <h1 class="text-[250%] font-medium">Marek Kaput</h1>
        <p>
          Software Engineer at
          <a href="https://swmansion.com" class="link">Software Mansion</a>.
        </p>
      </header>

      <section>
        <ul class="grid list-none grid-flow-col place-content-center gap-x-4">
          <li>
            <a href="https://github.com/mkaput" class="link" title="@mkaput"
              >GitHub</a
            >
          </li>
          <li>
            <a href="https://x.com/jajakobyly" class="link" title="@jajakobyly"
              >X</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/mkaput/"
              class="link"
              title="LinkedIn Profile">LinkedIn</a
            >
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
