---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout
  title={false}
  description={"Skilled Rustacean and technology polyglot. " +
    "Having a great track record of building complex software from nothing " +
    "and establishing development teams working on it."}
>
  <main>
    <header>
      <h1>Marek Kaput</h1>
      <p id="occupation">
        Software Engineer at
        <a href="https://swmansion.com">Software Mansion</a>.
      </p>
    </header>

    <section id="links">
      <ul>
        <li>
          <a
            href="https://github.com/mkaput"
            class="externalLink"
            title="@mkaput">GitHub</a
          >
        </li>
        <li>
          <a
            href="https://x.com/jajakobyly"
            class="externalLink"
            title="@jajakobyly">X</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/mkaput/"
            class="externalLink"
            title="LinkedIn Profile">LinkedIn</a
          >
        </li>
      </ul>
    </section>
  </main>
</RootLayout>
